* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin: 40px 20px;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border: black;
  border-style: double;
  background-color: #f2f2f2;
}

h1 {
  color: rgb(118, 188, 250);
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li {
  padding: 0 8px;
  font-weight: 600;
}

body {
  margin: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: rgb(118, 188, 250);
}

th {
  background-color: #f2f2f2;
}

footer {
  background-color: #ddd;
  margin: 40px 0;
  padding: 10px;
}

.copyright {
  font-weight: 700;
  text-align: right;
}
